<div class="ds-kpi-card">
  <div class="ds-kpi-card-content">
    <div class="flex flex-col">
      <span class="ds-kpi-card-label">
        {{ vm().labelKey | transloco }}
      </span>

      <span
        class="ds-kpi-card-value"
        [class.ds-kpi-card-value-up]="vm().trend === 'up'"
        [class.ds-kpi-card-value-down]="vm().trend === 'down'"
      >
        {{ vm().value }}
      </span>
    </div>

    @if (vm().sublabelKey) {
      <span class="ds-kpi-card-sublabel">
        {{ vm().sublabelKey | transloco : vm().sublabelParams }}
      </span>
    }
  </div>

  <div class="ds-kpi-card-icon-container">
    @if (vm().customSvgUrl) {
      @if (vm().actionUrl) {
        <a [routerLink]="vm().actionUrl" class="ds-kpi-map-svg-link" aria-label="Go to Regional Analysis">
          <img [src]="vm().customSvgUrl" alt="" aria-hidden="true" />
        </a>
      } @else {
        <img [src]="vm().customSvgUrl" alt="KPI Icon" class="w-20 h-20 object-contain opacity-40" />
      }
    } @else if (vm().iconName) {
      <lucide-icon
        [img]="getIcon(vm().iconName)"
        aria-hidden="true"
        size="64"
        class="ds-kpi-card-icon"
      />
    } @else if (vm().trend === 'up') {
      <lucide-icon
        [img]="TrendingUp"
        aria-hidden="true"
        size="72"
        class="ds-kpi-card-icon-up"
      />
    } @else if (vm().trend === 'down') {
      <lucide-icon
        [img]="TrendingDown"
        aria-hidden="true"
        size="72"
        class="ds-kpi-card-icon-down"
      />
    }
  </div>
</div>
